In [1]:
import pandas as pd
df = pd.read_csv('cleaned_traindata.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828 entries, 0 to 827
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             828 non-null    int64
 1   Point of Sale Country  828 non-null    object
 2   Company Name           828 non-null    object
 3   Department             828 non-null    object
 4   Travel Start Date      828 non-null    object
 5   Travel End Date        828 non-null    object
 6   Origin                 828 non-null    object
 7   Destination            828 non-null    object
 8   Route                  828 non-null    object
 9   In Policy              828 non-null    object
 10  Booking Method         828 non-null    object
 11  Segment Count          828 non-null    int64
 12  Employee ID            828 non-null    float64
 13  Unit of Measurement    828 non-null    object
 14  Currency               828 non-null    object
 15  Mileage                828 non-null    float64
 16  Carbon Emission        828 non-null    float64
 17  Ticket Expense         828 non-null    float64
dtypes: float64(4), int64(2), object(12)
memory usage: 116.6+ KB

In [2]:
df = df[(df['Origin'] != 'Unknown') & (df['Destination'] != 'Unknown')]
df = df[df['Origin'] != df['Destination']]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 630 entries, 0 to 827
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             630 non-null    int64
 1   Point of Sale Country  630 non-null    object
 2   Company Name           630 non-null    object
 3   Department             630 non-null    object
 4   Travel Start Date      630 non-null    object
 5   Travel End Date        630 non-null    object
 6   Origin                 630 non-null    object
 7   Destination            630 non-null    object
 8   Route                  630 non-null    object
 9   In Policy              630 non-null    object
 10  Booking Method         630 non-null    object
 11  Segment Count          630 non-null    int64
 12  Employee ID            630 non-null    float64
 13  Unit of Measurement    630 non-null    object
 14  Currency               630 non-null    object
 15  Mileage                630 non-null    float64
 16  Carbon Emission        630 non-null    float64
 17  Ticket Expense         630 non-null    float64
dtypes: float64(4), int64(2), object(12)
memory usage: 93.5+ KB

In [3]:
df.drop(['Point of Sale Country', 'Company Name','Unit of Measurement', 'Currency','Department','In Policy','Booking Method','Employee ID'], axis=1, inplace=True)
df['Travel Start Date'] = pd.to_datetime(df['Travel Start Date'])
df['Travel End Date'] = pd.to_datetime(df['Travel End Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 630 entries, 0 to 827
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         630 non-null    int64
 1   Travel Start Date  630 non-null    datetime64[ns]
 2   Travel End Date    630 non-null    datetime64[ns]
 3   Origin             630 non-null    object
 4   Destination        630 non-null    object
 5   Route              630 non-null    object
 6   Segment Count      630 non-null    int64
 7   Mileage            630 non-null    float64
 8   Carbon Emission    630 non-null    float64
 9   Ticket Expense     630 non-null    float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(3)
memory usage: 54.1+ KB

In [4]:
def check_route(row):
    cities = ['Calais', 'Paris', 'Brussels', 'Ebbsfleet International Station', 'Strasbourg', 'Frankfurt', 'Dax', 'Gare Du Nord']
    for city in cities:
        if city in row['Route']:
            return True
    return False

df['nonuk'] = df.apply(check_route, axis=1)
print(df[df['nonuk'] == True])

     Unnamed: 0 Travel Start Date Travel End Date  \
34           64        2023-02-17      2023-02-17
35           65        2023-05-26      2023-05-26
36           66        2023-02-17      2023-02-17
95          137        2020-01-12      2020-10-12
167         302        2023-11-12      2023-11-12
168         303        2024-02-01      2024-02-01
194         335        2023-01-06      2023-01-06
195         340        2022-05-24      2022-05-24
196         341        2023-02-17      2023-02-17
197         344        2023-11-14      2023-11-14
198         345        2023-11-14      2023-11-14
200         347        2020-01-22      2020-01-22
201         348        2022-05-25      2022-05-25
202         349        2022-01-07      2022-01-07
203         351        2023-02-02      2023-02-02
204         352        2020-01-22      2020-01-22
205         353        2023-11-16      2023-11-16
206         354        2020-01-28      2020-01-28
207         355        2023-11-16      2023-11-16
208         356        2023-03-17      2023-03-17
209         357        2022-09-16      2022-09-16
210         358        2023-07-20      2023-07-20
400         650        2023-12-14      2023-12-14
401         651        2023-06-28      2023-06-28
402         655        2022-03-02      2022-03-02
403         657        2022-10-18      2022-10-20
404         659        2022-10-18      2022-10-20
405         660        2022-04-01      2022-05-01
406         662        2020-05-03      2020-05-03
407         663        2020-01-28      2020-01-28
408         664        2021-10-12      2021-10-12
409         665        2020-01-20      2020-01-22
410         667        2020-01-20      2020-01-23
411         668        2023-02-24      2023-02-24
412         670        2023-01-02      2023-02-02
413         671        2022-03-11      2022-04-11
414         672        2022-10-03      2022-11-03
415         673        2023-01-02      2023-02-02
416         676        2021-05-10      2021-05-10
417         678        2020-01-28      2020-01-28
418         679        2023-01-17      2023-01-17
419         681        2022-11-24      2022-11-24
420         683        2023-09-05      2023-12-05
421         685        2021-11-10      2021-10-15
643        1060        2020-04-03      2020-04-03
644        1061        2023-01-17      2023-01-17
645        1062        2020-11-12      2020-11-12
677        1128        2022-07-21      2022-07-21
793        1261        2020-02-29      2020-02-03

                              Origin                              Destination  \
34                     Brussels-Midi  St. Pancras International Train Station
35                     Brussels-Midi  St. Pancras International Train Station
36                     Brussels-Midi  St. Pancras International Train Station
95                               Dax                        London St-Pancras
167  Ebbsfleet International Station          London St Pancras International
168  Ebbsfleet International Station          London St Pancras International
194                Falls of Cruachan                                   Calais
195                 Frankfurt (main)                                    Paris
196             Frankfurt (Main) Hbf                            Brussels-Midi
197             Frankfurt (Main) Hbf                  Paris Gare De L&#39;Est
198             Frankfurt (Main) Hbf                  Paris Gare De L&#39;Est
200                     Gare Du Nord  St. Pancras International Train Station
201                     Gare Du Nord  St. Pancras International Train Station
202                     Gare Du Nord  St. Pancras International Train Station
203                     Gare Du Nord  St. Pancras International Train Station
204                     Gare Du Nord  St. Pancras International Train Station
205                     Gare Du Nord  St. Pancras International Train Station
206                     Gare Du Nord  St. Pancras International Train Station
207                     Gare Du Nord  St. Pancras International Train Station
208                     Gare Du Nord  St. Pancras International Train Station
209                     Gare Du Nord  St. Pancras International Train Station
210                     Gare Du Nord  St. Pancras International Train Station
400  London St Pancras International          Ebbsfleet International Station
401                London St-Pancras                            Brussels-Midi
402                London St-Pancras                       Paris Gare du Nord
403                London St-Pancras                       Paris Gare du Nord
404                London St-Pancras                       Paris Gare du Nord
405                London St-Pancras                       Paris Gare du Nord
406                London St-Pancras                       Paris Gare du Nord
407                London St-Pancras                       Paris Gare du Nord
408                London St-Pancras                       Paris Gare du Nord
409                London St-Pancras                       Paris Gare du Nord
410                London St-Pancras                       Paris Gare du Nord
411                London St-Pancras                       Paris Gare du Nord
412                London St-Pancras                       Paris Gare du Nord
413                London St-Pancras                       Paris Gare du Nord
414                London St-Pancras                       Paris Gare du Nord
415                London St-Pancras                       Paris Gare du Nord
416                London St-Pancras                       Paris Gare du Nord
417                London St-Pancras                       Paris Gare du Nord
418                London St-Pancras                       Paris Gare du Nord
419                London St-Pancras                       Paris Gare du Nord
420                London St-Pancras                       Paris Gare du Nord
421                London St-Pancras                       Paris Gare du Nord
643                        Paris Est                               Strasbourg
644               Paris Gare De Lyon                     Frankfurt (Main) Hbf
645               Paris Montparnasse                                      Dax
677         St Pancras International                       Paris Gare Du Nord
793                       Strasbourg                 St Pancras International

                                                 Route  Segment Count  \
34   Brussels-Midi - St. Pancras International Trai...              1
35   Brussels-Midi - St. Pancras International Trai...              1
36   Brussels-Midi - St. Pancras International Trai...              1
95                             Dax - London St-Pancras              2
167  Ebbsfleet International Station - London St Pa...              1
168  Ebbsfleet International Station - London St Pa...              1
194                         Falls of Cruachan - Calais              1
195                           Frankfurt (main) - Paris              1
196               Frankfurt (Main) Hbf - Brussels-Midi              1
197     Frankfurt (Main) Hbf - Paris Gare De L&#39;Est              1
198     Frankfurt (Main) Hbf - Paris Gare De L&#39;Est              1
200  Gare Du Nord - St. Pancras International Train...              1
201  Gare Du Nord - St. Pancras International Train...              1
202  Gare Du Nord - St. Pancras International Train...              1
203  Gare Du Nord - St. Pancras International Train...              1
204  Gare Du Nord - St. Pancras International Train...              1
205  Gare Du Nord - St. Pancras International Train...              1
206  Gare Du Nord - St. Pancras International Train...              1
207  Gare Du Nord - St. Pancras International Train...              1
208  Gare Du Nord - St. Pancras International Train...              1
209  Gare Du Nord - St. Pancras International Train...              1
210  Gare Du Nord - St. Pancras International Train...              1
400  London St Pancras International - Ebbsfleet In...              1
401                  London St-Pancras - Brussels-Midi              2
402             London St-Pancras - Paris Gare du Nord              2
403             London St-Pancras - Paris Gare du Nord              2
404             London St-Pancras - Paris Gare du Nord              2
405             London St-Pancras - Paris Gare du Nord              2
406             London St-Pancras - Paris Gare du Nord              2
407             London St-Pancras - Paris Gare du Nord              1
408             London St-Pancras - Paris Gare du Nord              2
409             London St-Pancras - Paris Gare du Nord              2
410             London St-Pancras - Paris Gare du Nord              2
411             London St-Pancras - Paris Gare du Nord              2
412             London St-Pancras - Paris Gare du Nord              2
413             London St-Pancras - Paris Gare du Nord              2
414             London St-Pancras - Paris Gare du Nord              2
415             London St-Pancras - Paris Gare du Nord              2
416             London St-Pancras - Paris Gare du Nord              1
417             London St-Pancras - Paris Gare du Nord              2
418             London St-Pancras - Paris Gare du Nord              1
419             London St-Pancras - Paris Gare du Nord              2
420             London St-Pancras - Paris Gare du Nord              2
421             London St-Pancras - Paris Gare du Nord              2
643                             Paris Est - Strasbourg              1
644          Paris Gare De Lyon - Frankfurt (Main) Hbf              1
645                           Paris Montparnasse - Dax              1
677      St Pancras International - Paris Gare Du Nord              1
793              Strasbourg - St Pancras International              2

     Mileage  Carbon Emission  Ticket Expense  nonuk
34    375.74          2.25444          271.30   True
35    375.74          2.25444          267.20   True
36    375.74          2.25444          271.30   True
95   2362.82         14.17691          426.74   True
167    36.72          1.50922           20.20   True
168    36.72          1.50922           20.20   True
194   930.55          5.58329          269.00   True
195   570.24          3.42144          169.09   True
196   400.61          2.40364          301.80   True
197   241.40          1.44841           96.50   True
198   241.40          1.44841           96.50   True
200   449.75          2.69848          260.00   True
201   449.75          2.69848          263.00   True
202   449.75          2.69848          266.00   True
203   449.75          2.69848          273.30   True
204   449.75          2.69848          260.00   True
205   449.75          2.69848          289.20   True
206   449.75          2.69848           74.00   True
207   449.75          2.69848          135.20   True
208   449.75          2.69848          295.30   True
209   449.75          2.69848          269.00   True
210   449.75          2.69848          284.10   True
400    36.64          1.50602            0.00   True
401   753.35          4.52009          488.00   True
402   910.87          5.46522          436.00   True
403   910.87          5.46522          436.00   True
404   910.87          5.46522          436.00   True
405   910.87          5.46522          436.00   True
406   910.87          5.46522          426.00   True
407   461.12         18.95217          103.00   True
408   910.87          5.46522          436.00   True
409   910.87          5.46522          259.00   True
410   910.87          5.46522          426.00   True
411   910.87          5.46522          488.00   True
412   910.87          5.46522          436.00   True
413   910.87          5.46522          436.00   True
414   910.87          5.46522          436.00   True
415   910.87          5.46522          369.00   True
416   461.12         18.95217          200.00   True
417   877.20          5.26323          244.00   True
418   461.12         18.95217          245.00   True
419   922.25         37.90434          230.00   True
420   910.87          5.46522          488.00   True
421   910.87          5.46522          449.00   True
643   489.19          2.93513           70.54   True
644   569.34          3.41604           79.72   True
645   727.64          4.36586           76.38   True
677   461.12          2.76674          600.00   True
793  1584.39          9.50633          288.16   True

In [5]:
df.to_csv('Train_cleaned.csv', index=False)

In [7]:
# Load the datasets
train_data = pd.read_csv('train_data_with_cities.csv')
air_data = pd.read_excel('AirTicket Data.xlsx')

In [8]:
origin_unique_air = set(air_data['Origin City'])
destination_unique_air = set(air_data['Destination City'])
all_unique_places_air = list(origin_unique_air.union(destination_unique_air))
print(all_unique_places_air)

['Toronto', 'Geneva', 'Washington DC', 'Edinburgh', 'Budapest', 'Bordeaux', 'Tbessa', 'Ulsan', 'Munich', 'Dublin', 'Milan', 'Zagreb', 'Liverpool', 'Bristol', 'Zurich', 'Cardiff', 'London', 'Belfast', 'Bucharest', 'Hong Kong', 'East Midlands', 'Frankfurt', 'Lisbon', 'Montpellier', 'Brest', 'Lille', 'Istanbul', 'Durham', 'Newcastle', 'Leipzig', 'Toulouse', 'Lyon', 'Warsaw', 'La Rochelle', 'Leeds', 'Copenhagen, København', 'Cork', 'Birmingham', 'Ljubljana', 'Vienna, Wien', 'Hull', 'Marseille', 'Manchester', 'Barcelona', 'Graz', 'Venice, Venezia', 'Glasgow', 'Malaga', 'Casablanca', 'Basel', 'Paris', 'Seoul', 'Nice', 'Amsterdam']

In [9]:
# Rename columns in train_data to match the desired final dataset
train_data = train_data.rename(columns={
    'Mileage': 'Distance',
    'Carbon Emission': 'CO2 Emission',
    'Ticket Expense': 'Air Expense'
})

# Add 'Mode' column
train_data['Mode'] = 'Train'
air_data['Mode'] = 'Air'

# Concatenate datasets
combined_data = pd.concat([train_data, air_data], ignore_index=True)

# Find combinations of 'Origin City' and 'Destination City' that have both modes
city_combinations = combined_data.groupby(['Origin City', 'Destination City']).filter(lambda x: set(x['Mode']) == {'Train', 'Air'})

# Now, we filter out only those rows that belong to these combinations
final_data = combined_data[
    (combined_data['Origin City'].isin(city_combinations['Origin City'])) & 
    (combined_data['Destination City'].isin(city_combinations['Destination City']))
]

# Select relevant columns
selected_columns = [
    'Travel Start Date', 'Travel End Date', 'Origin City', 'Destination City',
    'Segment Count', 'Distance', 'CO2 Emission', 'Air Expense', 'Mode'
]
final_data = final_data[selected_columns]

# Save to Excel
final_data.to_csv('matched_travel_data.csv', index=False)